{% extends 'templates/template_admin.twig' %}
{%  block  content %}

   <h1>Выгрузка/загрузка товаров</h1>
   {% if errors %}
      {% for error in errors %}
         <p style="color: red;">{{ error }}</p>
      {% endfor %}
   {% endif %}
   {% if result %}
      <p style="color: green;">{{ result }}</p>
   {% endif %}
   <form method="post" class="form-horizontal">
      <div class="form-group">
         <h2>Экспорт товара в формат CSV</h2>
         <input class="btn btn-danger" name="submit_export" type="submit" value="Выгрузить товар" />
      </div>
   </form>
   <form method="post" class="form-horizontal" enctype="multipart/form-data">
      <div class="form-group">
         <h2>Импортировать товар из файла в формате CSV</h2>
         <input name="file" type="file" class="btn btn-warning">
      </div>
      <div class="form-group">
         <input class="btn btn-danger" name="submit_import" type="submit" value="Загрузить товар" />
      </div>
   </form>

{% endblock %}