
<div class="categories accordeon">
    <div class="categories_title">Продукция</div>
    <ul class="categories_list accordeon_list">
        {% for category in categories %}
        <li class="close_as_default">
            <div class="categories_list_item">
                <div class="categories_item_title">
                    <a href="#">
                        <span>{{ category.title }}</span>
                    </a>
                </div>
                <ul class="categories_item_sublist accordeon_content">
                    {% for product in products %}
                        {% if product.id_catalog == category.id %}
                    <li class="with_popup">
                        <div class="categories_sublist_inner2">
                            <a class="categories_inner_title" href="/products/view/{{ product.id }}">
                                <span>{{ product.title }}</span>
                            </a>
                            <span class="categories_sublist_counter"></span>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>