<section class="features_sale">
    <div class="feautures_green_back"></div>
    <div class="feautures_sale_product">
        <img width="241" height="209" src="/images/content/cameras.png" alt="">
    </div>
    <div class="feautures_sale_mask"></div>
    <div class="feautures_sale_descript">
        <a href="#">Сезонная распродажа техники</a>
    </div>
    <div class="feautures_sale_stripe"></div>
</section>