{% extends 'templates/template_admin.twig' %}
{%  block  content %}

    <div class="jumbotron">
        <h1>Hello, admin!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Log out</a></p>
    </div>
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="">Категории товаров</a></li>
            <li><a href="">Товары</a></li>
            <li><a href="">Заказы</a></li>
            <li><a href="">Пользователи</a></li>
            <li><a href="">Выгрузка / загрузка товаров</a></li>
            <li><a href="">Рассылка писем</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <h1>Dashboard</h1>
    </div>

{% endblock %}